absl-py==2.1.0
numpy==1.24.1
opencv-python-headless==4.8.0.76
pillow==9.5.0  # Changed from 10.2.1 to be compatible with Python 3.8
pybullet==3.2.6
scipy==1.10.1
matplotlib==3.7.5
tensorflow==2.7.0
imageio==2.35.1
moviepy==1.0.3
openai==1.52.2
tqdm==4.64.1
pyyaml
gdown==5.2.0
ftfy==5.9
regex==2024.9.11
fvcore==0.1.5.post20221221
tensorboard==2.14.0
protobuf==3.19.6
jax==0.4.13
jaxlib==0.4.13
flax==0.5.3
optax==0.1.5
orbax-checkpoint==0.2.3
